.PasswordShow, .PasswordHide {
    width: 100%;
    height: 30vh;
    display: grid;
    place-items: center;
}

.PasswordHide h1, .PasswordHide h2 {
    transition: opacity 3s ease-in;
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -ms-transition: opacity 3s ease-in;
    -o-transition: opacity 3s ease-in;
}

.PasswordHide h1, .PasswordHide h2 {
    opacity: 0;
}