*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a {
    /* width: 500px;
    height: 500px; */
    /* overflow-y: scroll; */
    background: yellowgreen;
}

.b {
    display: none;
}