.Form {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #cddbe6, #d8ccc7, #cdecd1);
    background-size: 400%;
    animation: change-back 10s ease-in infinite alternate-reverse;
    -webkit-animation: change-back 10s ease-in infinite alternate-reverse;
}

@keyframes change-back {
    0%, 100% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }
}

.FormChild {
    height: 300px;
    width: 50%;
    display: grid;
    place-items: center;
    padding: 1rem;
    grid-template-areas: '. header .''Inputs Inputs Inputs''. submit .';
    background-color: rgb(246, 247, 250);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.FormChild h1 {
    grid-area: header;
    text-align: center;
}

.FormChild .Inputs {
    grid-area: Inputs;
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.nameInputs {
    display: grid;
    place-items: center;
}

.nameInputs span {
    font-size: .85rem;
    color: rgb(204, 18, 18);
}

input:not(input[type='range']) {
    font-family: inherit;
    height: 3rem;
    width: 100%;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid #a9acad;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
}

.FormChild .submit {
    grid-area: submit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.slider {
    width: 100%;
    display: grid;
    place-items: center;
}


@media (max-width: 900px) {
    .FormChild h1 {
        font-size: 1.5rem;
    }

    .FormChild {
        height: 300px;
        width: 90%;
        display: grid;
        place-items: center;
        padding: 1rem;
    }

    .FormChild .Inputs {
        flex-wrap: wrap;
        justify-content: center;
    }

    input:not(input[type='range']) {
        font-family: inherit;
        height: 2rem;
        /* width: 40%; */
        padding: .6rem;
    }
}