/* [id*='p-circle'] {
    fill: #0066b3;
} */

/* #recx {
    stroke-dasharray: 10;
    stroke-dashoffset: 20;
} */

/* 
.parent {
    display: grid;
    place-items: center;
    height: 90vh;
    perspective: 500px;
}

.child {
    background-color: rgb(203, 100, 255);
    height: 100px;
    width: 100px;
    display: grid;
    box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.1);
    place-items: center;
    transform-origin: center;
    transition: transform 3s ease-in;
}

.child:hover {
    transform: rotateY(45deg);
} */

svg {
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
}

/* 
#recx {
    fill: none;
    stroke-width: 5px;
    stroke-dasharray: 50;
}

text:hover+#recx {
    animation: svgDash 2000ms linear infinite alternate;
}

@keyframes svgDash {
    to {
        stroke-dashoffset: 50;
    }
} */

/* div>* {
    width: 100px;
} */

#recx {
    stroke-dasharray: 736;
    animation: dash 2000ms linear infinite alternate-reverse;
}

@keyframes dash {
    from {
        stroke-width: 5px;
    }
    to {
        stroke-width: 20px;
        stroke-dashoffset: 736;
    }
}

#circle {
    stroke-dasharray: 394;
    stroke-dashoffset: 394;
    animation: dashC 2000ms linear infinite alternate;
}

@keyframes dashC {
    to {
        stroke-dashoffset: 0;
    }
}

#text {
    opacity: 0;
    animation: textx 3000ms linear forwards;
}

@keyframes textx {
    0%, 20%, 40%, 60%, 80% {
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 100% {
        opacity: 1;
    }
}