.Login {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(to right, #cddbe6, #d8ccc7, #cdecd1);
    background-size: 400%;
    animation: change-back 10s ease-in infinite alternate-reverse;
    -webkit-animation: change-back 10s ease-in infinite alternate-reverse;
}

@keyframes change-back {
    0%, 100% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }
}

.input {
    background-color: rgb(246, 247, 250);
    display: grid;
    padding: 1.5rem;
    height: 200px;
    margin-top: 8rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.input.input input {
    margin-left: 0;
}

.input input[type='checkbox'] {
    width: 20px;
    margin-top: 1rem;
    font-family: inherit;
    height: .8rem;
    margin-left: 0rem;
    border-radius: 5px;
    border: 1px solid #a9acad;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
}

.input button {
    margin-top: 1rem;
    width: 100px;
}

.hint {
    display: grid;
    gap: 1rem;
    width: 300px;
    margin: auto;
    text-align: center;
}

.hint details {
    padding: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: beige;
}

.hint img {
    width: 220px;
    height: 220px;
    padding: .4rem;
    object-fit: contain;
}