.loader5 {
  margin-top: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffcf5c;
  border-top: 10px solid #0066b3;
  -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
  animation: loader5 1.2s ease-in-out infinite alternate;
}

sup {
  color: #0066b3;
  font-size: 12px;
}

.card-stats .card-header.card-header-icon .card-title:last-child {
  color: #0066b3;
  margin-top: 1.2rem;
}

.btn.btn-round.btn-outline.paypay {
  float: right;
  margin-left: auto;
  background: #0d324d;
  color: #fff;
  border-radius: 5px;
}

.btn.btn-round.btn-outline.paypay:hover {
  color: #0066b3;
}

.btn.btnDash {
  margin: 1rem 0 1rem auto;
  background: #0d324d;
  color: #fff;
  padding: 0.3rem;
  border-radius: 5px;
  border-width: 0px;
}

@keyframes loader5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes loader5 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}

@-moz-keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */

.timer-loader:not(:required) {
  border: 2px solid #0066b3;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 53px;
  height: 53px;
}

.timer-loader:not(:required)::before {
  -moz-animation: timer-loader 1250ms infinite linear;
  -webkit-animation: timer-loader 1250ms infinite linear;
  animation: timer-loader 1250ms infinite linear;
  -moz-transform-origin: 3px 3px;
  -ms-transform-origin: 3px 3px;
  -webkit-transform-origin: 3px 3px;
  transform-origin: 3px 3px;
  background: #ffcf5c;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 19.2px;
  left: 21px;
  top: 21px;
}

.timer-loader:not(:required)::after {
  -moz-animation: timer-loader 15000ms infinite linear;
  -webkit-animation: timer-loader 15000ms infinite linear;
  animation: timer-loader 15000ms infinite linear;
  -moz-transform-origin: 3px 3px;
  -ms-transform-origin: 3px 3px;
  -webkit-transform-origin: 3px 3px;
  transform-origin: 3px 3px;
  background: #ffcf5c;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 16px;
  left: 21px;
  top: 21px;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 48%;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
}

table#dtBasicExample.dataTable tbody tr:hover {
  background-color: #FFFFEA;
  border-color: #0066b3;
  border: 5px;
  border-radius: 5px;
}

table#dtBasicExample.dataTable tbody tr:hover>.sorting_1 {
  background-color: #FFFFEA;
  border-color: #0066b3;
  border: 5px;
  border-radius: 5px;
}

table#dtBasicExample2.dataTable tbody tr:hover {
  background-color: #FFFFEA;
  border-color: #0066b3;
  border: 5px;
  border-radius: 5px;
}

table#dtBasicExample2.dataTable tbody tr:hover>.sorting_1 {
  background-color: #FFFFEA;
  border-color: #0066b3;
  border: 5px;
  border-radius: 5px;
}