/* table#dtBasicExample.dataTable tbody tr:hover {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExample.dataTable tbody tr:hover>.sorting_1 {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExampleAp.dataTable tbody tr:hover {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExampleAp.dataTable tbody tr:hover>.sorting_1 {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

.row {
	display: flex;
}

#aRow:hover {
	background-color: red;
}

.modal-lg {
	max-width: 100% !important;
} */

.naV {
	background: #ffcf5c;
}

#formDD {
	display: grid;
	padding: 1rem;
	color: #0066b3;
	text-align: left;
}

#formDD div:nth-child(3) {
	grid-column: 1/-1;
	position: relative;
}

#map {
	height: 250px;
	width: 100%;
	margin-top: 0;
}