table#dtBasicExample.dataTable tbody tr:hover {
  background-color: #FFFFEA;
  border-color: #0066b3;
}

table#dtBasicExample.dataTable tbody tr:hover>.sorting_1 {
  background-color: #FFFFEA;
  border-color: #0066b3;
}

table#dtBasicExampleB.dataTable tbody tr:hover {
  background-color: #FFFFEA;
  border-color: #0066b3;
}

table#dtBasicExampleB.dataTable tbody tr:hover>.sorting_1 {
  background-color: #FFFFEA;
  border-color: #0066b3;
}

table#dtBasicExampleC.dataTable tbody tr:hover {
  background-color: #FFFFEA;
  border-color: #0066b3;
}

table#dtBasicExampleC.dataTable tbody tr:hover>.sorting_1 {
  background-color: #FFFFEA;
  border-color: #0066b3;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 0;
}

#map {
  height: 400px;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  position: absolute;
}

::-webkit-scrollbar {
  width: 3px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1d2b42;
}

::-moz-scrollbar {
  width: 3px;
  background: #fff;
}

::-moz-scrollbar-thumb {
  background: #1d2b42;
}

.navbar {
  background: #ffffff;
  box-shadow: -12px -3px 19px #000000, 21px 12px 23px rgba(0, 0, 0, .1);
}

.card2 {
  border-radius: 5px;
  box-shadow: -6px -3px 19px #000000, 21px 12px 23px rgba(10, 2, 20, .1);
  margin: 1.5rem auto;
  height: auto;
  width: 88%;
  padding: 0.1rem 0;
}

.card2 h3 {
  margin: 0.1rem;
  font-size: 1rem;
}

.card2-media {
  width: 100%;
}

.card2-details {
  padding: 5px 15px;
}

.card2-head {
  font-weight: 400;
}

.card2-head {
  margin-top: -40px;
  font-size: 15px;
}

.card2-action-button {
  border-radius: 5px;
  color: #FFAB40;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

.naV {
  background: #245a90;
}

.row {
  display: flex;
}

#aRow:hover {
  background-color: red;
}

.gm-ui-hover-effect {
  outline: none;
}

.gm-style-iw.gm-style-iw-c {
  max-width: 270px !important;
  padding-top: 2rem;
}