.naV {
  background: #ffcf5c;
}

.row {
  display: flex;
}

#createCriteria, #setCriteriaDetails {
  margin-top: -2.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
}

#createCriteria .col-lg-12 .card, #setCriteriaDetails .col-lg-12 .card {
  margin: 2rem 0 0.2rem;
}

@media (max-width: 450px) {
  #createCriteria .col-lg-12:first-child .card, #setCriteriaDetails .col-lg-12:first-child .card {
    margin: 2rem 0 1rem;
  }
  #createCriteria .col-lg-12 .card, #setCriteriaDetails .col-lg-12 .card {
    margin: 1rem 0;
  }
  #createCriteria {
    grid-template-columns: 1fr;
  }
  #setCriteriaDetails {
    grid-template-columns: 1fr;
  }
}

#deliveryManCreate {
  margin-top: -2.45rem;
}

.card.a, .card.b, .card.c, .card.d {
  margin-top: -0.6rem;
}

.row.navBtn {
  position: relative;
  overflow-x: unset;
  width: 100%;
  padding-left: 0.9rem;
  align-items: center;
  gap: 0.2rem;
  z-index: 1;
  margin-bottom: 0.2rem;
}

.row.navBtn>button {
  padding: 0.4rem;
}

.col-md-4 {
  flex-grow: 1;
  text-align: center;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

#aRow:hover {
  background-color: red;
}

.deliveryArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: flex-start;
}

.deliveryArea>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  color: #0066b3;
  margin-right: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="checkbox"]+label {
  margin-right: 0.2rem;
  margin-bottom: 0;
}

.deliveryArea>div:nth-of-type(n) {
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
}

#btn.btn.btn-outline.chkkk, #btn.btn.btn-outline.chkkkD, #criteriaSubmit {
  padding: 0.6rem 1rem;
}

#deliveryManCreate .dmc-1, #formUpdateD .dmc-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  border-radius: 5px;
  color: #000;
  border: 1px solid rgb(221, 221, 221);
  padding: 2rem;
}

#deliveryManCreate .dmc-2, #formUpdateD .dmc-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  border-radius: 5px;
  color: #000;
  border: 1px solid rgb(221, 221, 221);
  margin-top: 2rem;
  padding: 2rem;
}

#formUpdateD .dmc-1, #formUpdateD .dmc-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 2rem;
}

#DeliveryMan_CREATION {
  margin-top: -1.8rem;
  padding: 0.6rem 1rem;
}

.modal-lg {
  max-width: 90%;
}

@media (max-width: 450px) {
  #DeliveryMan_CREATION {
    margin-top: -1.9rem;
    padding: 0.4rem;
  }
  #deliveryManCreate .dmc-1, #formUpdateD .dmc-1 {
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 1rem;
  }
  #deliveryManCreate .dmc-2, #formUpdateD .dmc-2 {
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 1rem;
  }
}

#managersU, #districtU, #senderList, #district, #managers, #managers_2, #productType, #productWeight, #dayType, #productDistance, #productCity, #managers2, #autoAss, #deliveryType {
  padding: 0.3rem;
  text-align-last: left;
  height: 40px;
}

form {
  margin-bottom: 2.625rem;
}

@media (max-width:450px) {
  #btn.btn.btn-outline.chkkk, #btn.btn.btn-outline.chkkkD, #criteriaSubmit {
    padding: 0.4rem;
  }
  #managersU, #districtU, #senderList, #district, #managers, #managers_2, #productType, #productWeight, #dayType, #productDistance, #productCity, #managers2, #autoAss, #deliveryType {
    padding: 0.2rem;
    text-align-last: left;
    height: 40px;
    width: 130px;
  }
  #managers, #managersU {
    width: 150px;
  }
  .deliveryArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    place-items: flex-start;
  }
}