/* table#dtBasicExample.dataTable tbody tr:hover {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExample.dataTable tbody tr:hover>.sorting_1 {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExampleAp.dataTable tbody tr:hover {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExampleAp.dataTable tbody tr:hover>.sorting_1 {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

.row {
	display: flex;
}

#aRow:hover {
	background-color: red;
}

.modal-lg {
	max-width: 100% !important;
} */

.naV {
	background: #ffcf5c;
}

#formDD {
	display: grid;
	padding: 1rem;
	color: #0066b3;
	text-align: left;
}

.mapper {
	grid-column: 1/-1;
	position: relative;
	margin-top: 1.2rem;
}

#map {
	height: 250px;
	width: 100% !important;
	margin-top: 0;
	overflow: hidden;
}

#passFormMer .form-horizontal {
	display: grid;
	row-gap: 2rem;
	column-gap: 2rem;
	padding: 3rem;
	padding-bottom: 0rem;
}

@media (max-width:500px) {
	#passFormMer .form-horizontal {
		padding: 1rem;
		grid-template-columns: 1fr;
		padding-bottom: 0rem;
	}
}