.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 36%;
  width: 100%;
  height: 56%;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
}

#merchantCreate form, .merchantUpdate, .bankUpdate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  color: #000;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.merchantUpdate {
  font-size: 1rem;
  padding: 1rem;
}

input {
  text-align: left;
}

.naV {
  background: #ffcf5c;
}

.row {
  display: flex;
}

.col-md-4 {
  flex-grow: 1;
  text-align: center;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

#aRow:hover {
  background-color: red;
}

.modal-lg {
  max-width: 90%;
  max-height: 90%;
}

#merchantCreate {
  margin-top: -2.2rem;
}

.card.a, .card.b, .card.c, .card.d {
  margin-top: -0.3rem;
}

.row.navBtn {
  position: relative;
  overflow-x: unset;
  width: 100%;
  padding-left: 0.9rem;
  align-items: center;
  gap: 0.2rem;
  z-index: 1;
  margin-bottom: 0.2rem;
}

.row.navBtn>button {
  padding: 0.4rem;
}

#MERCHANT_CREATION {
  padding: 0.6rem 1rem;
}

#merchantCreate form:nth-last-of-type(1), .bankUpdate {
  transition: padding 250ms ease-in;
}

.paddForm2 {
  padding-bottom: 9rem !important;
}

.paddForm2BankPhy {
  padding-bottom: 15rem !important;
}

#phyBank:checked+.bba, #phyBank2:checked+.bba2, #mobileBank:checked+.mba, #mobileBank2:checked+.mba2 {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.bank, .bank2 {
  margin-top: 0.7rem;
  display: grid;
  row-gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: visibility 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}

.mobilebank, .bankbank, .mobilebank2, .bankbank2 {
  position: relative;
}

.mba, .bba, .mba2, .bba2 {
  position: absolute;
  width: 100%;
}

#brb, #brb2 {
  padding: 0.4rem;
}

form {
  margin-bottom: 1.125rem;
}

@media (max-width:450px) {
  #merchantCreate form {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    row-gap: 1.5rem;
  }
  .row.navBtn>button {
    padding: 0.2rem;
  }
}