.gm-style-iw {
	width: 170px;
}

table#dtBasicExample.dataTable tbody tr:hover {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExample.dataTable tbody tr:hover>.sorting_1 {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExampleAp.dataTable tbody tr:hover {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

table#dtBasicExampleAp.dataTable tbody tr:hover>.sorting_1 {
	background-color: #FFFFEA;
	border-color: #0066b3;
}

#map {
	margin-top: -29px;
	height: 52%;
	width: 94.5%;
	border: 2px;
	border-radius: 10px;
	position: absolute;
}

@media (max-width: 500px) {
	#map {
		width: 91%;
	}
}

@media (max-width: 783px) {
	.main-panel>.footer {
		margin-top: 54%;
	}
}

.naV {
	background: #ffcf5c;
}

.row {
	display: flex;
}

.col-md-4 {
	flex-grow: 1;
	text-align: center;
}

.cool-link {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

#aRow:hover {
	background-color: red;
}