* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    font-size: .7rem;
}

.parent {
    height: 200px;
    width: 200px;
    background-color: lavender;
    display: grid;
    place-items: center;
    perspective: 500px;
}

.child {
    backface-visibility: visible;
    transition: .5s ease-in;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
}

.child:hover {
    transform: rotateX(30deg);
}