* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.button {
    padding: 1rem;
    background: #0066b3;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / .2);
}