* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Didact Gothic";
    display: grid;
    place-items: center;
}

.button {
    padding: 1rem;
    background: #0066b3;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / .2);
    cursor: pointer;
    position: relative;
    transition: 250ms cubic-bezier(0.21, 0.35, 1, 1.35);
    overflow: hidden;
}

.button.active {
    padding: 0.2rem 3rem;
}

.button:hover {
    opacity: .8;
}

.button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    box-shadow: 0 5px 10px rgb(0 0 0 / .2);
    background: #00233d;
    border-radius: 10px;
    transition: 5000ms linear;
}

.button.active::after {
    left: 0%;
}

.button i, .button span {
    transition: transform 250ms ease-in;
}

.button.active i, .button.active span {
    transform: translateY(100px);
}

.button i {
    margin-right: 4px;
}