* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 600px) {
    body {
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    body {
        height: 100px;
    }
}


div.a {
    height: 100px;
    width: 100px;
    background: #0066b3;
    animation: fade-in 1000ms infinite alternate;
    -webkit-animation: fade-in 1000ms infinite alternate;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}