/* Event Bubbling or Trickling */
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100xw;
}

.a {
    width: 500px;
    height: 500px;
    background-color: black;
}

.b {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
}

.c {
    width: 300px;
    height: 300px;
    background-color: rgb(41, 141, 228);
}

.d {
    width: 200px;
    height: 200px;
    background-color: rgb(41, 228, 88);
}

.e {
    width: 100px;
    height: 100px;
    background-color: rgb(228, 110, 41);
} */