* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin-left: 200px;
    padding: 2rem;
    /* width: 100%;  */
    /* Auto refers to -> Take the space available without overflowing! */
    width: auto;
}